<div class="container">
    <h1>User detail</h1>

    <form novalidate="novalidate" class="form-horizontal">
        <div class="control-group">
            <label class="control-label" for="inputNormalized">First name:</label>
            <div class="controls">
                <input type="text" id="inputNormalized" ng-model="gist.normalized"/>
            </div>
        </div>

        <div class="control-group">
            <div class="controls">

              <!-- user-creation.html: -->
                <a ng-click="createNewGist()" class="btn btn-small btn-primary">create new user</a>
            </div>
        </div>
    </form>
</div>