<a href='/#/gists'>back</a>

<h1>{{gist.name}}</h1>

<div class='row'>
  <div class ="span8">
    <div ng-bind-html="gist.formatted">
    </div>
    <a ng-click="deleteGist(gist.id)" class="btn btn-danger">Delete</a>
    <a ng-click="editGist(gist.id)" class="btn btn-primary">Edit</a>
    <a ng-click="createNewGist()" class="btn btn-primary">Create new gist</a>

    <a ng-click="createChallenge(gist.id)" class="btn btn-warning">Post your response</a>
  </div>


  <div class="span4">
    <div ng-repeat = "challenge in gist.challenges">
      <div ng-bind-html="challenge.formatted"></div>
    </div>
</div>