Gist:
<h1>{{gist.name}}</h1>

<pre>
  <div ng-bind-html="gist.formatted">
  </div>
</pre>
<a ng-click="deleteGist(gist.id)">Delete</a>
<a ng-click="editGist(gist.id)">Edit</a>
<a ng-click="createNewGist()">Create new gist</a>

<a ng-click="createChallenge(gist.id)">Post your response</a>
<a href='/#/gists'>index</a>



Challenges:


<ul ng-repeat = "challenge in gist.challenges">
  <li>
    {{challenge.name}}
    <pre><div ng-bind-html="challenge.formatted"></div></pre>
  </li>

</ul>
